.hero-section {
  width: 1136px;
  height: 600px;
  background-image: url('/images/hero/hero-bg-img.jpg');
  background-size: 1136px 600px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.benefits-section {
  background-color: #1e1823;
  color: #ffffff;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
}

.ingredients-list-item-milk-chocolate {
  background-color: #fd9222;
}

.ingredients-list-item-milk,
.ingredients-list-item-semi-sweet-chocolate {
  background-color: #ffffff;
}

.ingredients-list-item-nuts {
  background-color: #1e1823;
}
